@foreach (var i in ViewBag.num)
{
    @i;
}

<hr/>
@foreach (var i in ViewBag.num)
{
    @(i + " ");
}


<hr/>
<ul>
    @foreach (var i in ViewBag.num)
    {
  <li>@(i)</li>
    }
</ul>


<hr />
@foreach (var i in ViewBag.num)
{
<text>@i</text>
}